body {
    margin: 0px;
    padding: 0px;
}


/*업로드 방법 비디오*/
.sr-bg-video {
    width: 100%;
    z-index: -1;
}

/* 미디어 쿼리 레이아웃 설정 */
.mobile {
    max-width: 576px;
}

.tablet {
    max-width: 768px;
    min-width: 577px;
}

.desktop {
    max-width: 900px;
    min-width: 769px;
}

/* 반응형 미디어쿼리 설정 */
@media (min-width: 1025px) {
    .tablet, .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .desktop, .mobile {
        display: none;
    }
    .tablet {
        display: block;
    }
}

@media (max-width: 767px) {
    .desktop, .tablet {
        display: none;
    }
    .mobile {
        display: block;
    }
}

.sr-expandable-div {
    overflow: hidden;
    transition: max-height 0.35s ease-in-out;
    max-height: 0; /* 초기 상태는 접혀있음 */
}


/* 터치 기반 디바이스에 대한 스타일 */
@media (pointer: coarse) {
    .sr-button-hover-effect:active {
      background-color: black; /* Background color when active (touched) */
      color: white; /* Text color when active (touched) */
      transition: none; /* No transition for instant return to initial state */
    }
    .sr-guide-hover-blend {
        background-image: url('https://devhipduck.com/guide-trasition.png');
        background-size: cover;
    }
}

/* 터치가 아닌 기반 디바이스에 대한 스타일 (마우스 호버) */
@media (pointer: fine) {
    .sr-button-hover-effect:hover {
      background-color: black; /* Background color on hover */
      color: white; /* Text color on hover */
    }
}

.sr-button-hover-effect {
    transition: background-color 0.5s ease, color 0.5s ease;
      background-color: white; /* Initial background color */
      color: black; /* Initial text color */
      display: inline-block; /* Ensure button supports transformation effects */
}

/* 온오프 버튼 fadein-out 이펙트 */
.sr-fade-effect {
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.sr-fade-effect.sr-show {
    opacity: 1;
    visibility: visible;
}

.button-sr-fade-effect {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-sr-on {
    background-color: white;
    color: black;
}

.button-sr-off {
    background-color: transparent;
    color: white;
}

.sr-bg-slider-text {
    font-family: darkmode-off, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 120px;
    color: white;
    letter-spacing: -.05em;
    word-spacing: -0.08em;
}

